packages
.vs

ColorMixERP/bin
ColorMixERP/obj
ColorMixERP/logs
ColorMixERP/logs/2019-02-22.log
ColorMixERP/Properties/PublishProfiles
ColorMixERP.Server/obj
ColorMixERP.Server/bin

obj
bin
/ColorMixERP.Server/Config/LinqContext.cs
